{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
</head>
<body>
    <form class="form" action="{% url 'signin' %}" method="post">
        {% csrf_token %}
        <span class="signin">Sign In</span>
        <input type="text" placeholder="Username" class="form--input" name="username">
        <input type="password" placeholder="Password" class="form--input" name="password">
        
        <button class="form--submit" type="submit">
            Sign In
        </button>
    </form>
    
</body>
</html>
